body{
    background-color: yellow  !important;
}
.bg-title{
    text-align: center;
}
#cards{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, sans-serif;

}
.col-sm-3{
    margin: 0px;
}
#sub{
    color: blue;
}
.card-info{
    text-align: left;
}
div.info { 
    background-color: #f2f9ff; 
} 